@using EPiServer.Web.Routing
@model Chief2moro.SyndicationFeeds.Models.SyndicationFeedPageType

<a title="@Model.PageName" href="@UrlResolver.Current.GetUrl(Model.PageLink)" style="background: url('/modules/chief2moro.syndicationfeeds/images/rss-icon.png') no-repeat;padding-left: 20px;">@Model.CallToAction</a>